@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Superhero Social Club</h1>
    <br />
    <p>Would you like to <a asp-page="LogIn">Log in</a> or <a asp-page="Browse">Browse our Superheroes</a>?</p>
</div>
